:root {
  --main-background-color: #020408;
  --box-shadow-dark: 0 5px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-light: 0 10px 20px rgba(255, 255, 255, 0.2);
}

body {
  font-family: "poppins", sans-serif;
  background: var(--main-background-color);
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

main {
  background: #fffffff3;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 4px;
}

section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0px 30px;
}

footer {
  text-align: center;
  background-color: var(--main-background-color);
  color: #fff;
  font-size: 12px;
  padding: 50px 80px 20px 80px;
}

footer a {
  color: #fff;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/enter-shikari-concert-lights-color.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  height: 100vh;
}

.hero-text {
  padding-top: 15vh;
}

.hero h1 {
  font-size: 96px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 25px;
  text-shadow: 2px 2px 10px #fff;
}
.hero h2 {
  font-size: 22px;
}

.button {
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  background: #fff;
  box-shadow: var(--box-shadow-light);
  opacity: 0.7;
  color: #212529;
}

.button:hover {
  opacity: 1;
  transition: ease-in-out 20ms;
  box-shadow: var(--box-shadow-light);
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.timeline-grid {
  display: grid;
  column-gap: 90px;
  grid-template-columns: 1fr 1fr;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-4-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#about h2 {
  opacity: 0.5;
  font-size: 18px;
  line-height: 1px;
}

.img-responsive {
  max-width: 100%;
  border-radius: 4px;
}

.band-image-caption {
  font-size: x-small;
}

.embed-responsive {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
}

.lyrics {
  font-family: "Playwrite NZ Guides";
  font-size: 22px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p.lyrics {
  margin-top: 15px;
}

.tracks-heading {
  text-align: center;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #00000052;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline-label {
  text-align: center;
}

.timeline-container {
  text-align: center;
}

.timeline-container .lyrics {
  font-size: 16px;
}

.video-right {
  margin-top: 40%;
}

.timeline hr {
  width: 15%;
  margin-top: 30px;
  height: 1px;
  background-color: #00000028;
  border: none;
}

.footer-icons {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 22px;
}

@media (max-width: 900px) {
  .hero {
    height: 60vh;
  }

  .hero-text {
    padding-top: 10vh;
  }

  .hero h1 {
    font-size: 38px;
    margin-bottom: 8vh;
  }

  .hero h2 {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .button {
    font-size: 14px;
    opacity: 1;
  }

  .button:hover {
    opacity: 0.7;
  }

  .grid,
  .timeline-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .lyrics {
    font-size: 18px;
  }

  .video-right,
  .video-left {
    margin-top: 20px;
  }

  .timeline::after,
  .timeline-label {
    display: none;
  }

  .timeline {
    padding: 0;
  }

  section {
    padding: 0px 20px;
  }

  footer {
    font-size: smaller;
    padding: 50px 0 20px 0;
  }
}
