:root {
  --main-background-color: #020408;
  --box-shadow-dark: 0 5px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-light: 0 10px 20px rgba(255, 255, 255, 0.2);
}

body {
  font-family: "poppins", sans-serif;
  background: var(--main-background-color);
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  font-weight: bold;
}

main {
  background: #ffffff;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
}

footer {
  text-align: center;
  background-color: var(--main-background-color);
  color: #fff;
  font-size: 12px;
  padding: 50px 0 20px 0;
}

footer a {
  color: #fff;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/enter-shikari-concert-lights-color.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  height: 100vh;
}

.hero-text {
  padding-top: 15vh;
}

.hero h1 {
  font-size: 96px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 25px;
  text-shadow: 2px 2px 10px #fff;
}
.hero h2 {
  font-size: 22px;
}

.grid {
  display: grid;
  grid-gap: 50px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.img-responsive {
  max-width: 100%;
  border-radius: 4px;
}

.embed-container {
  max-width: 1200px;
  margin: 0 auto;
}

.embed-responsive {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 4px;
}

.lyrics {
  font-family: "Playwrite NZ Guides";
  font-size: 25px;
}

.button {
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  background: #fff;
  box-shadow: var(--box-shadow-light);
  opacity: 0.7;
  color: #212529;
}

.button:hover {
  opacity: 1;
  transition: ease-in-out 20ms;
  box-shadow: var(--box-shadow-light);
}

@media (max-width: 900px) {
  .hero {
    height: 60vh;
  }

  .hero-text {
    padding-top: 10vh;
  }

  .hero h1 {
    font-size: 38px;
    margin-bottom: 8vh;
  }

  .hero h2 {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .button {
    font-size: 14px;
    opacity: 1;
  }

  .button:hover {
    opacity: 0.7;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  section {
    padding: 20px;
  }

  footer {
    font-size: smaller;
  }
}
